@use "@/shared/ui/mixins" as mixin;

.topic {
  width: 100%;
  flex-shrink: 0;
  user-select: none;
  height: fit-content;

  span {
    font-weight: 500;
    color: #ebebeb;
  };

  .dropdown-container {
    position: relative;
    z-index: 6;
    max-width: 100px;
    font-weight: 500;
    color: #ebebeb;

    .dropdown-activator {
      height: 100%;
      background-color: #2C2F3A;
      padding: 8px 14px;
      border-radius: 10px;
      @include mixin.flex-between();
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #282b36;
      }
    }
  }
}