.new-topic  {
  width: 100%;
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  color: var(--light-gray);
  background-color: #22252E;
  padding-block: 5px;
  padding-left: 10px;
  border-radius: 0.5rem;
}