@use "@/shared/ui/mixins" as mixin;

.main-prompt-input {
  border-radius: 20px;
  padding: 15px;
  width: 80%;
  max-width: 860px;
  min-height: 120px;
  max-height: 250px;
  background-color: var(--secondary-color);
  border: 1px solid var(--main-border-color);

  transform: translateY(150px);
  pointer-events: none;
  visibility: visible;

  position: absolute;
  bottom: 2rem;
  animation: ComposerFadeIn 0.5s forwards;

  textarea {
    display: block;
    padding: 0;
    color: #AAA;
    min-height: 40px;
    max-height: 170px;
    font-size: 16px;
    font-weight: 400;

    &::placeholder {
      color: #707070;
      font-size: 15px;
    }
  }

  .input-tools {
    margin-top: 10px;
    @include mixin.flex-between;

    button {
      padding: 7px 16px !important;
    }
  
    .conspect-config {
      display: flex;

      .config {
        border: 1px solid var(--main-border-color);
        font-weight: 400;
        color: #AAA;
        padding: 6px 16px;
        margin-right: 14px;
        border-radius: 40px;
        white-space: nowrap;

        &.actived {
          border-color: var(--main-background-color) !important;
          background-color: var(--main-background-color) !important;
          color: var(--main-color);
        }
    
        &:hover, &.active {
          border-color: var(--main-background-color) !important;
          background-color: var(--main-background-color) !important;
          color: var(--main-color);
        }
      }
    }
  
    .actions {
      display: flex;

      .record-button {
        margin-left: 14px;
        border-radius: 40px;
      }
    }
  }

  .hint-text {
    position: absolute;
    font-family: "Jost";
    font-weight: 400;
    font-size: 12px;
    bottom: -1.375rem;
    right: 0.5rem;
    color: var(--gray);
  }
}

@keyframes ComposerFadeIn {
  from {
    transform: translateY(150px);
  }

  to {
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }
}