@use "@/shared/ui/mixins" as mixin;
@use "@/shared/ui/media" as *;

html, body, #root {
  height: 100%;
}

.without-topic {
  @include mixin.flex-center();
  flex-direction: column;
  text-align: center;
  padding-inline: 30px;
  font-family: "Jost";
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 340px;
  color: #cecece;
  // margin-bottom: 25%;

  .side-logo {
    height: 70px;
    margin-bottom: 1rem;

    @include mobile {
      margin-bottom: 0.5rem;
      height: 60px;
    }
  }

  span {
    font-family: "Jost";
    display: inline;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--main-color);

    @include mobile {
      font-size: 1rem;
    }
  }

  @include mobile {
    width: 100%;
    font-size: 1rem;
  }
}

.wrapper {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;

  .sidebar-icon {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    transition: left var(--short-transition),
      opacity var(--short-transition);

    img {
      padding: 10px;
    }
  }

  @include mobile { 
    width: 100vw;
    height: 100vh;
    
    &.sidebar-open {
      .sidebar {
        left: 0;
      }

      .chat-wrapper {
        transform: translateX(70%);
        opacity: 0.6;
      }

      .sidebar-icon {
        left: 72%;
        opacity: 0.6;
      }
    }
  }
}

.chat-wrapper {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  transition: transform var(--short-transition),
    opacity var(--short-transition);

  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.chat-background {
  width: 99.55%;
  height: 98.5%;
  background-color: var(--bg-color);
  border: 1px solid var(--main-border-color);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  @include mixin.flex-center;
  background-image: url('@/shared/assets/main-page/main-page-bg.svg');
  background-size: cover;

  overflow: hidden;
  // overflow-y: auto;
  position: relative;
  z-index: 1;

  // .chat {
  //   width: 100%;
  //   max-width: 800px;
  //   height: 100%;
  //   @include mixin.flex-center;

  //   @include mobile {
  //     display: flex;
  //     align-items: center;
  //     padding-inline: 20px;
  //   }
  // }

  @include mobile {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
  }
}

.red-material-button {
  background-color: rgba(197, 7, 61, 0.1) !important;
  color: var(--main-color) !important;

  & * {
    fill: var(--main-color) !important;
  }
}

.message-block {
  font-family: "Jost";
  font-size: 16px;
  background-color: var(--secondary-color);
  border: 0.8px solid var(--main-border-color);
  border-radius: 20px;
  padding: 20px;
  max-width: 540px;
  color: var(--light-gray);
}

@keyframes fade-word {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}