.md-block {
  transition: height var(--long-transition);

  &.--enter {
    animation: fadeInMDMessage 0.6s forwards;
  }

  h2, h3, p, span,
  ul, pre, a, ol, ul, li {
    font-family: "Jost";
    color: var(--light-gray) !important;
    animation: fade-md-word 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0),
  }

  h2 {
    color: #bebebe;
    font-size: 1.2rem;
    text-align: start;
    font-weight: 600;
    margin: 0;
    // margin-bottom: 0.5rem;
  }

  p {
    color: #aaa;
    font-size: 1rem;
    text-align: start;
  }

  a {
    color: var(--main-color);
  }

  hr {
    border-radius: 2px;
    border-color: var(--gray);
  }

  pre {
    margin: 10px 0;
  }

  code {
    width: max-content;
    padding: 6px;
    border-radius: 0.5rem;
    color: #bbbbbb;
    background-color: #656c7633;
  }
}

@keyframes fadeInMDMessage {
  from {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  to {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@keyframes fade-md-word {
  from {
    filter: blur(2px);
  }
  to {
    filter: blur(0);
  }
}