.popup {
  position: relative;
  z-index: 8;
  width: 520px;
  background-color: #22252E;
  border-radius: 2rem;
  border: 1px solid #2C2F3A;
  padding: 20px;
  transition: height var(--long-transition);
  box-shadow: 0 0 6px 2px #111318;
  overflow: hidden;

  &.--exit {
    animation: fadeOutUserMenu var(--short-transition) forwards;
    cursor: default !important;
  }

  &.--enter {
    animation: fadeInUserMenu var(--short-transition) forwards;
  }

  button {
    font-weight: 400;
    margin-top: 15px;
    padding: 10px 14px;

    // @include mobile {
    //   margin-top: 12px;
    // }
  }
}

@keyframes fadeInPopup {
  from {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0px);
  }
}

@keyframes fadeOutPopup {
  from {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
}