.edit-textarea {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 21px;
  background-color: var(--secondary-color);
  outline: 2px solid var(--main-color);
  border-radius: 20px;
  // overflow: hidden;

  textarea {
    height: 100%;
    padding: 0;
    background-color: var(--secondary-color);
    font-size: 16px;
    min-height: 65px;
    color: #cccccc;
  }

  .edit-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: -50px;
    left: -2px;

    button {
      padding-inline: 0.75rem;
      margin-left: 10px;
      border-radius: 1rem !important;
    }
  }
}