@use "@/shared/ui/media" as *;

[class$="message-container"] {
  width: 100%;
  display: flex;
  margin-block: 15px;

  &:first-child {
    margin-bottom: 30px !important;
  }
}

.chat-message-container {
  justify-content: flex-start;

  .static-message {
    color: #D0D0D0;
    font-family: "Jost";
    font-size: 1rem;
    min-height: 65px;
    background-color: var(--secondary-color);
    border: 1px solid var(--main-border-color);
    border-radius: 20px;
    border-top-left-radius: 4px !important;
    padding: 15px;
    max-width: 760px;

    @include mobile {
      width: 100%;
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: 0;
    }
  }
}

.user-message-container {
  justify-content: flex-end;

  .static-message {
    color: #D0D0D0;
    font-family: "Jost";
    font-size: 1rem;
    max-width: 760px;
    min-height: 54px;
    padding: 15px;
    border-radius: 20px;
    border-top-right-radius: 3px;
    background-color: #22252E;

    @include mobile {
      max-width: 85%;
      min-height: 0;
      padding: 10px;
    }
}
}

